<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= startingContent %></p>
<%posts.reverse().forEach(function(post){%>
  <h1 class="text-right"><%=post.title%></h1>
  <p class="text-right"><%=post.content.substring(0,100)+" ..."%>  <a href="/posts/<%=post._id%>">קרא עוד</a></p>

  <%});%>
<iframe scrolling="auto" height="330" width="180" frameborder="0" src="https://mylush.net/sah.html"></iframe>
<%- include('partials/footer'); -%>
