<%- include('partials/header'); -%>
<div>
  <h1 class="headline">דתיים במדמ"ח - חומר לשבת</h1>
  <p ><%- startingContent %></p>
</div>

<div class="col-md-10 col-sm-8 col-xs-6 content">
  <%posts.reverse().forEach(function(post){%>
  <h1 class="text-right"><%=post.title%></h1>
  <p><%=post.content.substring(0,100)+" ..."%>  <a href="/posts/<%=post._id%>">קרא עוד</a></p>

  <%});%>

</div>
<iframe dir="ltr" class="shabat" scrolling="auto" height="330" width="180" frameborder="0" src="https://mylush.net/sah.html"></iframe>
<%- include('partials/footer'); -%>
